::selection { background: white; } 

#root {
  height: 100%;
}

.h-100 {
  height: 100% !important;
}

.flex {
  display: flex !important
}

.flex-just-sb {
  justify-content: space-between !important
}

.number-input-container > input {
  padding: 5px 10px !important;
  width: 100px !important;
}

.number-input-container.width-small > input {
  width: 50px !important;
}

.number-input-container.width-large > input {
  width: 150px !important;
}

.number-input-container .vertical.buttons > .button {
  padding: 2px 8px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.fixed-footer {
  top: unset !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 50px !important;
}

